@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Poppins:wght@300;400;500;600&display=swap');

.app{
  --bg-color-1: #9db3ed;
  --bg-color-2: #f9f9f9;
  --text-color-1: #0b1537;
  --text-color-2: #636363;
}

.app[data-theme="dark"]{
  --bg-color-1: #172d67;
  --bg-color-2: #050c26;
  --text-color-1: #fbfcfc;
  --text-color-2: #bbbcbc;
}

.custom-scroll::-webkit-scrollbar{
    height: 5px;
    width: 5px;
}

.custom-scroll::-webkit-scrollbar-track{
  background-color: transparent;
}

.custom-scroll::-webkit-scrollbar-thumb{
  background-color: rgba(0, 0, 0, 0.14);
}

.custom-scroll::-webkit-scrollbar-thumb:hover{
  background-color: gray;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}
.app{
  background: linear-gradient(27deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgb(143, 0, 67) 100%);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app_calculator{
  height: 500px;
  width: 280px;
  border-radius: 30px;
  box-shadow: 1px -1px 20px rgba(2, 0, 36, 1);
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.app_calculator_navbar{
  position: absolute;
  top: 0;
  left: 0;
  background-color: transparent;
  min-height: 30px;
  padding: 10px;
  overflow: hidden;
  width: 100%;
  display: flex;
  gap: 10px;
  align-items: center;
}

.app_calculator_navbar img{
  height: 24px;
  width: 24px;
}

.app_calculator_navbar_toggle{
  height: 15px;
  width: 30px;
  border-radius: 20px;
  box-shadow: 1px 1px 50px 80px rgba(0, 0, 0, 0.25);
}

.app_calculator_navbar_toggle_circle{
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: #fff;
  transition: 300ms;
  cursor: pointer;
}

.app_calculator_navbar_toggle_circle_active{
  margin-left: 15px;
}